<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add
    name="sdvdb"
    providerName="MySql.data.MySqlClient"
    connectionString="database=sdvdb;server=localhost;Uid=root;Password=Worldoftanks1998;SslMode=none"/>
  </connectionStrings>
</configuration>

